{% assign child_list_handle = link.title | handleize %}
<li class="polarpro-menu-list">
  <a href="{{ link.url }}" >{{ link.title | escape }}</a>
  <div class="main-menu-dropdown">
		<div class="mmd-container">
          	<div class="wrapper">
              {% if child_list_handle == 'products' %}
              <div class="grid-uniform">
                  <div class="grid__item large--one-third">
                      <div class="pp-menu-items pp-menu-drone">
                        <h3 class="pp-sub-menu-title"><a href='/pages/shop-by-aircraft'>Drone</a></h3>
                        <ul class="pp-sub-menu">
                          {% assign drone_menu = 'drones-3-0' %}
                          {% for link in linklists[drone_menu].links %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                  </div>
                  <div class="grid__item large--one-third">
                      <div class="pp-menu-items pp-menu-gopro">
                        <h3 class="pp-sub-menu-title"><a href='/pages/shop-by-device'>GoPro</a></h3>
                        <ul class="pp-sub-menu">
                          {% assign gopro_menu = 'gopro-2-0' %}
                          {% for link in linklists[gopro_menu].links %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% comment %}
                      <div class="pp-menu-items pp-menu-full-frame">
                        <h3 class="pp-sub-menu-title">Full-Frame Filters</h3>
                        <ul class="pp-sub-menu">
                          {% assign ff_menu = 'full-frame-filters' %}
                          {% for link in linklists[ff_menu].links %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                   	  <div class="pp-menu-items pp-menu-mobile">
                        <h3 class="pp-sub-menu-title">Mobile Imaging</h3>
                        <ul class="pp-sub-menu">
                          {% assign mobile_menu = 'mobile-imaging' %}
                          {% for link in linklists[mobile_menu].links %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% endcomment %}
                  </div>
                  <div class="grid__item large--one-third">
                      <div class="pp-menu-items pp-menu-studio">
                        <h3 class="pp-sub-menu-title">Studio</h3>
                        <ul class="pp-sub-menu">
                          {% assign studio_menu = 'studio' %}
                          {% for link in linklists[studio_menu].links %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% comment %}
                      <div class="pp-menu-items pp-menu-production">
                        <h3 class="pp-sub-menu-title">Production</h3>
                        <ul class="pp-sub-menu">
                          {% assign production_menu = 'production' %}
                          {% for link in linklists[production_menu].links %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endcomment %}
                  </div>
                  <div class="grid__item large--one-third">
                      <div class="pp-menu-items pp-menu-crystal-sky">
                        <h3 class="pp-sub-menu-title"><a href='/collections/dji-crystalsky'>CrystalSky</a></h3>
                      </div>
                  </div>

                  <div class="grid__item large--one-third">
                      <div class="pp-menu-items pp-menu-dji-goggles">
                        <h3 class="pp-sub-menu-title"><a href='/collections/dji-goggles'>DJI Goggles</a></h3>
                      </div>
                  </div>

                  <div class="grid__item large--one-third">
                      <div class="pp-menu-items pp-menu-sony-rxzero">
                        <h3 class="pp-sub-menu-title"><a href='/products/sony-rx0-filters'>Sony RX0</a></h3>
                      </div>
                  </div>
              </div>
              {% endif; %}

              {% if child_list_handle == 'about' %}
			        <div class="grid-uniform">
                <div class="grid__item large--one-quarter">
                  <div class="pp-menu-items">
                    <h3 class="pp-sub-menu-title"><a href="/pages/about-us" class='about-item our-story'>Our Story</a></h3>
                  </div>
                </div>
                <div class="grid__item large--one-quarter">
                  <div class="pp-menu-items">
                    <h3 class="pp-sub-menu-title"><a href="/pages/pro-team" class='about-item pro-team'>Pro Team</a></h3>
                  </div>
                </div>
                <div class="grid__item large--one-quarter">
                  <div class="pp-menu-items">
                    <h3 class="pp-sub-menu-title"><a href="/blogs/ventures" class='about-item venture-blog'>Venture Blog</a></h3>
                  </div>
                </div>
                <div class="grid__item large--one-quarter">
                  <div class="pp-menu-items">
                    <h3 class="pp-sub-menu-title"><a href="/pages/polarpro" class='about-item capture-perfection'>#captureperfection</a></h3>
                  </div>
                </div>
              </div>
			        {% endif; %}

              {% if child_list_handle == 'support' %}
              <div class="grid-uniform">
                <div class="grid__item large--one-quarter">
                  <div class="pp-menu-items">
                    <h3 class="pp-sub-menu-title"><a href="/pages/orders" class='support-item orders'>Orders</a></h3>
                  </div>
                </div>
                <div class="grid__item large--one-quarter">
                  <div class="pp-menu-items">
                    <h3 class="pp-sub-menu-title"><a href="/pages/contact-us" class='support-item contact-us'>Contact Us</a></h3>
                  </div>
                </div>
                <div class="grid__item large--one-quarter">
                  <div class="pp-menu-items">
                    <h3 class="pp-sub-menu-title"><a href="/apps/store-locator" class='support-item store-locator'>Store Locator</a></h3>
                  </div>
                </div>

                <div class="grid__item large--one-quarter">
                  <div class="pp-menu-items">
                    <h3 class="pp-sub-menu-title"><a href="/tools/faq" class='support-item faq'>FAQ</a></h3>
                  </div>
                </div>
			        </div>
              {% endif; %}
          	</div>
    	</div>
  </div>
</li>
