<!-- /snippets/collection-list-item.liquid -->
{% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

{% assign grid_item_width = {{settings.products_grid_width}} %}

{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-sixth medium--one-third' %}
{% endunless %}

{% if grid_item_width == 'medium--one-half large--one-half' %}
  {% assign product_count = 2 %}
{% elsif grid_item_width == 'medium--one-third large--one-third' %}
  {% assign product_count = 3 %}
{% elsif grid_item_width == 'medium--one-half large--one-quarter' %}
  {% assign product_count = 4 %}
{% elsif grid_item_width == 'medium--one-third large--one-fifth' %}
  {% assign product_count = 5 %}
{% else %}
  {% assign product_count = 6 %}
{% endif %}

<div class="collection-list-item">
  <div class="section-header">
    <p class="h3 section-header__left title">{{ collection_title }}</p>
    <div class="section-header__right">
      <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="btn uppercase">More {{ collection_title }} &rsaquo;</a>
    </div>
  </div>

  <div class="grid-uniform">
    {% for product in collection.products limit: product_count %}
      {% include 'product-grid-item' with grid_item_width %}
    {% endfor %}
  </div>
</div>
