<h2>Support</h2>

<p>From product research to in-the-field advice the team at PolarPro HQ is here to help. Our experienced in-house photographers can give you advice on general, technical and creative questions in regards to any PolarPro gear.</p>
<br/>
<div id='support-list'>
  <!-- <a href='#' onclick="zE.activate({hideOnClose: true});" class="support-item email"> -->
  <a href='/pages/contact-us' class="support-item email">
    <img src="{{ 'envelope.svg' | asset_url }}" alt="">
    <h3>Email Us</h3>
    <p>We love hearing from our community and value your opinion.</p>
    <div class="tag">
      <p>support@polarpro.com</p>
    </div>
  </a>
  <a href='/a/returns' class="support-item returns">
    <img src="{{ 'previous.svg' | asset_url }}" alt="">
    <h3>Return / Replace</h3>
    <p>Sometimes gear just isn't the right fit, we’ve made the return process easier than ever.</p>
    <div class="tag">
      <p>Begin Return</p>
    </div>
  </a>
  <!-- <a href='tel:9492209395' class="support-item call">
    <img src="{{ 'phone-call.svg' | asset_url }}" alt="">
    <h3>Speak to the Team</h3>
    <p>Connect with an in-house photographer.</p>
    <p>Monday-Friday | 9am - 5pm PST</p>
    <div class="tag">
      <p>949.220.9395</p>
    </div>
  </a> -->
  <a href='/pages/track-your-order' class="support-item where-is-my-order">
    <img src="{{ 'delivery-truck.svg' | asset_url }}" alt="">
    <h3>Track Order</h3>
    <p>Stay up to date with your order’s status with the “Track Your Order” tool.</p>
    <div class="tag">
      <p>Track Order</p>
    </div>
  </a>
  <a href='/tools/faq' class="support-item faq">
    <img src="{{ 'help.svg' | asset_url }}" alt="">
    <h3>FAQ</h3>
    <p>Research some of the most commonly asked PolarPro questions. </p>
    <div class="tag">
      <p>Product FAQ's</p>
    </div>
  </a>
  <a href='/pages/reseller-application' class="support-item reseller">
    <img src="{{ 'shelves-with-boxes.svg' | asset_url }}" alt="">
    <h3>Reseller/Distributor</h3>
    <p>Apply to become an authorized PolarPro reseller or distributor.</p>
    <div class="tag">
      <p>Get Started</p>
    </div>
  </a>

  <a href='/pages/shipping' class="support-item shipping-info">
    <img src="{{ 'package.svg' | asset_url }}" alt="">
    <h3>Shipping Info</h3>
    <p>We ship globally, find our more details here.</p>
    <div class="tag">
      <p>Details</p>
    </div>
  </a>
  <!-- <a href='#' class="support-item support-vids">
    <h3>Support Videos</h3>
    <p>Need help with your new gear ?</p>
    <p>Our walkthrough videos will get you out shooting in no time.</p>
    <div class="tag">
      <p>Watch Now</p>
    </div>
  </a> -->
  <a href='/pages/warranty' class="support-item warranty">
    <img src="{{ 'shield.svg' | asset_url }}" alt="">
    <h3>Warranty</h3>
    <p>Learn more about our Limited Lifetime Warranty Details.</p>
    <div class="tag">
      <p>Warranty Info</p>
    </div>
  </a>


</div>
