<ul class="grid__item inline-list">
  {% if settings.social_facebook_link != blank %}
	<li>
	  <a class="" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook" target="_blank">
		  <i class="fa fa-facebook"></i>
	  </a>
	</li>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
	<li>
	  <a class="" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram" target="_blank">
		  <i class="fa fa-instagram"></i>
	  </a>
	</li>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
	<li>
	  <a class="" href="{{ settings.social_youtube_link }}" title="{{ shop.name }} on Youtube" target="_blank">
		  <i class="fa fa-youtube-play"></i>
	  </a>
	</li>
  {% endif %}
  {% if settings.social_vimeo_link != blank %}
	<li>
	  <a class="" href="{{ settings.social_vimeo_link }}" title="{{ shop.name }} on Vimeo" target="_blank">
		  <i class="fa fa-vimeo"></i>
	  </a>
	</li>
  {% endif %}
  {% if settings.social_twitter_link != blank %}
	<li>
	  <a class="" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter" target="_blank">
		  <i class="fa fa-twitter"></i>
	  </a>
	</li>
  {% endif %}
  {% if settings.social_pinterest_link != blank %}
	<li>
	  <a class="" href="{{ settings.social_pinterest_link }}" title="{{ shop.name }} on Pinterest" target="_blank">
		  <i class="fa fa-youtube-pinterest"></i>
	  </a>
	</li>
  {% endif %}
</ul>