<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  <!-- GSSTART Coming Soon code start. Do not change -->
<script type="text/javascript"> gsProductCSID = "{{ product.id }}"; </script><script type="text/javascript" src="https://gravity-software.com/js/shopify/pac_shop1776.js?v=523d380aecd5ed3cc609e4723e462a75"></script>
<!-- Coming Soon code end. Do not change GSEND --></head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>

        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
            <div class="customs-note">
              {% if checkout.shipping_address.country_code != 'US' %}
              <script type="text/javascript">
                var customMessage = document.createElement("div");
                customMessage.innerHTML = '<div class="section"><div class="content-box" style="background:#ffe8dd;" ><div class="content-box__row"><p class="os-step__description">By proceeding with this order, I acknowledge customs fees may be charged for international shipments, and I am responsible for paying them. Customs fees are not collected or included in this order. Note: For more information please contact your local customs office.</p></div></div></div>';
                console.log(document.querySelector("[data-order-summary-section=payment-lines]"));
                document.querySelector("[data-order-summary-section=payment-lines]").before(customMessage);
              </script>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>
