<!-- /templates/cart.liquid -->
{% comment %}

  This is your /cart template. If you are using the Ajaxify Cart plugin,
  your form (with action="/cart") layout will be used in the drawer/modal.

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
{% if cart.item_count > 0 %}
<div class="wrapper page-margin">
  <form action="/cart" method="post" novalidate class="cart">
    <h3 class="title">{{ 'cart.general.title' | t }}</h3>

    <div class="cart__body">
      <div class="cart__row medium-down--hide cart__header-labels">
        <div class="grid--full">
          <div class="grid__item large--one-half push--large--one-half">
            <div class="grid--full">
              {% if settings.product_quantity %}
                <div class="grid__item one-third medium-down--one-third">
                  {{ 'cart.label.price' | t }}
                </div>
                <div class="grid__item one-third medium-down--one-third text-center">
                  {{ 'cart.label.quantity' | t }}
                </div>
              {% else %}
                <div class="grid__item two-thirds medium-down--two-thirds"></div>
              {% endif %}
              <div class="grid__item one-third medium-down--one-third text-right">
                {{ 'cart.label.total' | t }}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% comment %}
        Loop through products in the cart
      {% endcomment %}
      {% for item in cart.items %}
        <div class="cart__row" data-id="{{ item.id }}">
          <div class="grid--full cart__row--table-large">

            <div class="grid__item large--one-half">
              <div class="grid--full cart__row--table-large">

                <div class="grid__item one-third">
                  <a href="{{ item.url | within: collections.all }}" class="cart__image">
                    <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
                  </a>
                </div>

                <div class="grid__item two-thirds cart__item__title">
                  <a href="{{ item.url }}" class="h5">
                    {{ item.product.title }}
                  </a>
                  <span>-</span>
                  {% unless item.variant.title contains 'Default' %}
                    <small>{{ item.variant.title }}</small>
                  {% endunless %}

                  {% if settings.cart_vendor_enable %}
                    <p>{{ item.vendor }}</p>
                  {% endif %}

                  {% assign property_size = item.properties | size %}
                  {% if property_size > 0 %}
                    {% for p in item.properties %}
                      {% unless p.last == blank %}
                        {{ p.first }}:

                        {% comment %}
                          Check if there was an uploaded file associated
                        {% endcomment %}
                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}

                        <br>
                      {% endunless %}
                    {% endfor %}
                  {% endif %}

                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove uppercase" data-id="{{ item.id }}">
                    <small>{{ 'cart.general.remove' | t }}</small>
                  </a>
                </div>

              </div>
            </div>

            <div class="grid__item large--one-half">
              <div class="grid--full cart__row--table-large">
                {% if settings.product_quantity %}
                  <div class="grid__item one-third text-left">
                    <span class="cart__mini-labels">{{ 'cart.label.price' | t }}</span>
                    <span class="h3 money">{{ item.price | money }}</span>
                  </div>

                  <div class="grid__item one-third text-center">
                    <span class="cart__mini-labels">{{ 'cart.label.quantity' | t }}</span>
                    {% comment %}
                      Added data-id for the ajax cart implementation only.
                    {% endcomment %}
                    <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}" data-submit="true" class="ajaxcart--hide">
                  </div>
                {% else %}
                  <div class="grid__item two-thirds"></div>
                {% endif %}

                <div class="grid__item one-third text-right">
                  <span class="cart__mini-labels">{{ 'cart.label.total' | t }}</span>
                  <span class="h3 money">{{ item.line_price | money }}</span>
                </div>
              </div>

              <div class="ajaxcart__errors hidden errors text-center" id="ajaxcart__item__{{item.id}}__errors">
                {{ 'cart.general.stockout' | t }}
              </div>
            </div>

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="cart__row cart__footer">


        <!-- {% for item in cart.items %}

        {% if item.product.tags contains 'Preorder' %}

        <div class="shipping-note-container">
        <span>Pre-order Item exist</span>

        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove uppercase" data-id="{{ item.id }}">
          <small>{{ 'cart.general.remove' | t }}</small>
        </a>
        </div>
        {% endif %}

        {% endfor %} -->
        <!-- this checks when cart have at least one preorder item based on Preorder tag -->
        {% assign all_tags = '' | split: '' %}
        {% for item in cart.items %}
          {% assign all_tags = all_tags | concat: item.product.tags %}
        {% endfor %}


        {% if all_tags contains 'Preorder' %}
          <div class="shipping-note-container">
            <h4>Shipping Note</h4>
            <span>It looks like one or more of the items in your cart are in a preorder status.  Please note that orders containing preorder items will be held until all items are available to ship.  If you would like the rest of the items in the order shipped out immediately, please remove the preorder item(s) from the cart before completing the checkout process.</span>
          </div>
        {% endif %}



      <div class="grid">
        {% comment %}
          Optional, add a textarea for special notes
            - Your theme settings can turn this on or off. Default is on.
            - Make sure you have name="note" for the message to be submitted properly
        {% endcomment %}
        {% if settings.cart_notes_enable %}
          <div class="grid__item large--one-whole cart__instructions">
            <label class="cart__instructions__label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          </div>
        {% endif %}
        <div class="grid__item large--one-half calculator-container text-left">
          {% include 'shipping-calculator' %}
        </div>
        <div class="grid__item large--one-half text-right">
          <p class="cart__footer__text">
            <span class="cart__subtotal-title uppercase">{{ 'cart.general.subtotal' | t }}</span>
            <span class="h3 cart__subtotal money">{{ cart.total_price | money }}</span>
          </p>



          {% if cart.total_price > 7500 %}
            <p class="affirm-as-low-as" data-page-type="cart" data-amount="{{ cart.total_price }}"></p>
          {% endif %}

          {% comment %}<p class="cart__footer__text"><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>{% endcomment %}
          <div class="hide-desktop">
            <div id="tout1_popcart_4Tell" ></div>
          </div>

          <div class='checkout-select-container'>
            <input type="submit" name="checkout" class="btn uppercase btn--large checkout__button" value="{{ 'cart.general.checkout' | t }}">
            <div class='update-and-continue-shop'>
              <input type="submit" name="update" class="btn--secondary update-cart btn--large uppercase" value="{{ 'cart.general.update' | t }}">
              <a class="btn-continue-shop btn" href="{{ shop.url }}">Continue Shopping</a>
            </div>
          </div>
          <!-- <ul class='checkout-desc'>
            <li class='lifetime'>LIFETIME Warranty On All PolarPro Products</li>
            <li class='returns'>100% Money-Back Satisfaction Guarantee</li>
            <li class='free-ship'>Free Shipping on All US Orders</li>
          </ul> -->

          <div class='infographics inforgraphics-cart'>
            <div class='item free-ship'>Free US Shipping</div>
            <div class='item lifetime'>Lifetime Warranty</div>
            <div class='item returns'>60-Day Returns</div>
          </div>
        </div>
      </div>

    </div>

  </form>
</div>

{% comment %}
{% include 'cross-sell-custom' %}
{% endcomment %}

{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <div class="wrapper page-margin text-center">
    <h3 class="uppercase h3">{{ 'cart.general.title' | t }}</h3>
    <p>{{ 'cart.general.empty' | t }}</p>
    <a href="/collections/all" class="btn btn--large">{{ 'cart.general.continue_browsing_html' | t }}</a>
  </div>
{% endif %}

{% include 'betterrecs' %}

<div class="hide-mobile">
	<div id="tout1_viewcart_4Tell" ></div>
</div>
