<!-- /templates/page.liquid -->
<div class="bf-collection-header">
  <img src="{{ 'Collection-Page-Header-Image.jpg' | asset_url }}">
</div>

<div class="wrapper">
  <a href='/products/m2-ultimate-bundle' class="item m2-ultimate">
    <img src="{{ 'M2P-Ultimate-Bundle-COLLECTION-image.jpg' | asset_url }}">
  </a>
  <a href='/products/m2-essentials-bundle' class="item m2-essentials">
    <img src="{{ 'M2P-Essentials-Bundle-COLLECTION-image.jpg' | asset_url }}">
  </a>
  <a href='/products/quartzline-filmmakers-bundle' class="item ql-filmmaker">
    <img src="{{ 'QL-Filmmaker-Bundle-COLLECTION-image.jpg' | asset_url }}">
  </a>
  <a href='/products/quartzline-long-exposure-bundle' class="item ql-longex">
    <img src="{{ 'QL-Long-Exposure-Bundle-COLLECTION-image.jpg' | asset_url }}">
  </a>
  <a href='/products/polarpro-gift-card' class="item gift-card full-width">
    <img src="{{ 'Gift-Card-COLLECTION-image.jpg' | asset_url }}">
  </a>
</div>
