<!-- /templates/page.liquid -->

<div class="education-banner">
  <img src="{{ 'p_Icon.png' | asset_url }}" class='polarpro-icon'/>
  <h2>INTRO TO AERIAL CINEMATOGRAPHY</h2>
  <span>One-on-one live video chat sessions with industry professionals</span>
  <!-- <a href="#meet-the-instructor" class="meet-the-pros smooth-goto">Meet the Pros</a> -->
</div>
<div class='pre-details'>
  <h3>LEARN THE ESSENTIALS OF DRONE CONTENT CREATION</h3>
  <span>FROM AN INDUSTRY PROFESSIONAL</span>

  <p class='wrapper'>Learn from a working professional of your choice in PolarPro's private, one-hour video conference session, including supportive graphics and live examples, dedicated Q&A time with your instructor, and supplemental resources to keep you sharp in the field. Unlike a general online course, you shape and drive the session forward. Your personal flight instructor covers only what you want to learn. Change topics at any point, or dive in deeper on a subject that peaks your interest. From flight fundamentals and software basics, equipment prep and travel tips, to technical aspects of your DJI drone such as manual flight control, using camera filters and understanding advanced camera functions and techniques. Once completed, you will feel comfortable taking your drone in the field to create compelling content.</p>
</div>



<div class="intro wrapper">
  <div class="grid">
    <a href="https://youtu.be/-neT1bfsgi8" class='grid__item small--one-whole medium--one-whole video intro-video edu-intro fancybox.iframe'></a>
    <div class="grid__item small--one-whole medium--one-whole details">
      <h2>WHATS INCLUDED:</h2>
        <ul class='features'>
          <li>An hour long one-on-one video conference with your dedicated instructor</li>
          <li>Learn the essentials of drone content creation with supportive graphics and examples</li>
          <li>Industry insight directly from those who work in the field with dedicated Q&amp;A time</li>
        </ul>
        <p class='price'>$149.99</p>
        <a href='#meet-the-instructor' class="make-booking book-now-btn smooth-goto">Select Instructor</a>
    </div>
  </div>
</div>

<!-- <div class='overview'>
  <h3>INTRODUCTION TO DJI DRONE</h3>
  <span>CINEMATOGRAPHY</span>
  <div class='wrapper container'>
    <p>In your DJI drone, you have one of the most powerful tools for content creation on the market. And yet, there's more to capturing cinematic drone content than the sum of your drone's parts. PolarPro's Intro to Drone Cinemattography provides you with a platform to develop your own knowledge and skills to excel in a competitive and fast-growing industry.</p>
    <p>Learn from a working professional of your choice in PolarPro's private, one-hour video conference session, including supportive graphics and live examples, dedicated Q&A time with your instructor, and supplemental resources to keep you sharp in the fields. Unline a general online course,  you shape and drive the session forward. Your personal flight instructor covers only what  you want to learn. Change topics at any point, or dive in deeper on a subject that peaks your interest. From flight fundamentals and software basics, equipment prep and travel tips, to technical aspects of operation your DJI drone such as manual flight control, using camera filters and understanding advanced camera functions and techniques like shooting in low light.</p>
    <p>Launch your career, or simply brush up on your camera and flight skills with our friendly instructor, all of whom work in the drone film industry, each with their own unique story that has shaped their skillset and expertise, and who are excited to share their experience with you.</p>
  </div>
</div> -->


<div class='divider-section-header' id='meet-the-instructor'>
  <h2><span>How To book</span></h2>
</div>

<div class='how-to-book wrapper'>
  <div class="grid">
    <div class='icon select grid__item large--one-fifth'><span>Step 1</span>Select Your<br />Instructor</div>
    <div class='icon choose grid__item large--one-fifth'><span>Step 2</span>Choose the<br />Date</div>
    <div class='icon checkout grid__item large--one-fifth'><span>Step 3</span>Checkout</div>
    <div class='icon email grid__item large--one-fifth'><span>Step 4</span>Receive Email<br />to Join Session</div>
    <div class='icon learn grid__item large--one-fifth'><span>Step 5</span>Learn</div>
  </div>
</div>



<!-- <div class='divider-section-header'>
  <h2><span>instructors</span></h2>
</div> -->


<div class="wrapper page-margin" id='meet-the-instructor'>
  <div class="grid">

    <div class="grid__item large--one-third">
      <div class='picture'>
        <a class="make-booking" data-listing="18282"><img src="{{ 'instructor_brennon_edwards.png' | asset_url }}" /></a>
      </div>
      <div class='details'>
        <h3 class='name'>
          <a class="make-booking" data-listing="18282">"B" Edwards</a>
        </h3>
        <p class='description'>
          Based in LA, Brennon Edwards is a Professional Drone Pilot with several certifications who has been flying drones since 2013 and active in the film industry since 2011. Having flown in over ten countries for multiple films and network shows, his professional profile continues to grow. In late 2016 he started a youtube channel, DRONR, which has over nine thousand subscribers and is considered a voice for professional drone pilots. His past clients include Redbull, the Sierra Club and more. Brennon’s expertise with production and running a successful production company makes him a well rounded industry pro.
        </p>
      </div>
      <a class="make-booking check-avail-btn" data-listing="18282">Book Now</a>
    </div>
    <div class="grid__item large--one-third">
      <div class='picture'>
        <a class="make-booking" data-listing="18341"><img src="{{ 'instructor_elena_buenrostro.png' | asset_url }}" /></a>
      </div>
      <div class='details'>
        <h3 class='name'>
          <a class="make-booking" data-listing="18341">Elena Buenrostro</a>
        </h3>
        <p class='description'>
          Elena Buenrostro is a Certified Drone Pilot, Producer, and Founder of WomenWhoDrone.co. Her drone cinematography skills have allowed Elena to be featured in the Washington Post and several other media outlets. Elena has worked in several facets of the industry including: TV Production, Writing, and Hosting for an internationally syndicated travel show. With over seven years of video production and teaching experience, she has the insight share her filming journeys around the world.
        </p>
      </div>
      <a class="make-booking check-avail-btn" data-listing="18341">Book Now</a>
    </div>
    <div class="grid__item large--one-third">
      <div class='picture'>
        <a class="make-booking" data-listing="18339"><img src="{{ 'instructor_wolfgang_weber.png' | asset_url }}" /></a>
      </div>
      <div class='details'>
        <h3 class='name'>
          <a class="make-booking" data-listing="18339">Wolfgang Weber</a>
        </h3>
        <p class='description'>
          Multi-certified Drone pilot, producer, and actor Wolfgang Weber stems from a career that spans over a decade, working both in front and behind the camera. Over four years ago Wolfgang decided to place all of his energy and focus into a career of drone operating and aerial cinematography. Wolfgang has provided aerials for companies such as Amazon Prime, Twitter, the Lifetime Movie Network and more. Wolfgang’s unique path into the drone content industry makes him an expert in the film and television production field.
        </p>
      </div>
      <a class="make-booking check-avail-btn" data-listing="18339">Book Now</a>
    </div>
    <div class="grid__item large--one-third">
      <div class='picture'>
        <a class="make-booking" data-listing="18342"><img src="{{ 'instructor_brandon_w.png' | asset_url }}" /></a>
      </div>
      <div class='details'>
        <h3 class='name'>
          <a class="make-booking" data-listing="18342">Brandon W</a>
        </h3>
        <p class='description'>
          For the past 8 years telling visual stories has been Brandon Washington’s passion. Creating compelling visual content that intrigues audiences for businesses of all shapes and sizes, be it through high-quality photography or professional level video. Brandon is a certified drone pilot as well as professionally certified in Apple’s Final Cut Pro X editing software. Brandon specializes in filming real estate and live events with clients such as The Chainsmokers.
        </p>
      </div>
      <a class="make-booking check-avail-btn" data-listing="18342">Book Now</a>
    </div>
    <div class="grid__item large--one-third">
      <div class='picture'>
        <a class="make-booking" data-listing="18292"><img src="{{ 'instructor_matt_thomas.png' | asset_url }}" /></a>
      </div>
      <div class='details'>
        <h3 class='name'>
          <a class="make-booking" data-listing="18292">Matt Thomas</a>
        </h3>
        <p class='description'>
          Matt Thomas is an internationally-known lifestyle and portrait photographer working out of Liverpool, UK. His work is published globally, having been commissioned by various international clients and organizations BBC, Liverpool Football Club, The Times, The Telegraph, and the University of Cambridge to name a few. Matt’s expertise in photography can help transform average drone pictures into well composed works of art.
        </p>
      </div>
      <a class="make-booking check-avail-btn" data-listing="18292">Book Now</a>
    </div>
    <div class="grid__item large--one-third">
      <div class='picture'>
        <a class="make-booking" data-listing="18340"><img src="{{ 'instructor_chris_rollins.png' | asset_url }}" /></a>
      </div>
      <div class='details'>
        <h3 class='name'>
          <a class="make-booking" data-listing="18340">Chris Rollins</a>
        </h3>
        <p class='description'>
          Chris Rollins has been in the videography business for over 11 years. Since drones have become more prominent in the last 4 years he has mastered the craft of creating compelling drone content. His drone content creation has allowed him to take part in multiple award-winning short films and several years of humanitarian work in Africa and South America. Chris also writes and produces short films which adds another layer of knowledge to his film industry experience.
        </p>
      </div>
      <a class="make-booking check-avail-btn" data-listing="18340">Book Now</a>
    </div>
  </div>
</div>

<!-- <div class='testimonial'>
  <p>"The Intro to Drone Cinematography session helped me immensely.<br /> It was great to get the training I needed to create quality still photos and video without leaving my office desk." <br />- Eric L.</p>
</div> -->

<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item one-whole">
      <!-- <div class="pp-page-title-container">
      	<h2 class="title text-center pp-page-title">{{ page.title }}</h2>
      </div> -->
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

<script src="https://polarpro.yondo.com/bookingplugin.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	//we are polar pro video pop up
	/* Apply fancybox to multiple items */
	// $(".edu-intro").fancybox({
	// 	// padding: 0,
  //   // 	type: 'iframe',
  //   // 	scrolling: 'no',
	// 	// width: 1400,
	// 	// autoHeight: true,
	// 	// autoWidth: true,
	// 	// autoSize : true
	// });
  $('.smooth-goto').on('click', function() {
    $('html, body').animate({scrollTop: $(this.hash).offset().top - 100}, 1000);
    return false;
  });

  //remove black bars from video
  $('.edu-intro').fancybox({
    afterLoad : function( instance, current ) {
       // Remove scrollbars and change background
      current.$content.css({
        overflow   : 'visible',
        background : '#000'
      });
    },
    onUpdate : function( instance, current ) {
      var width,
          height,
          ratio = 16 / 9,
          video = current.$content;

      if ( video ) {
        video.hide();

        width  = current.$slide.width() - 100;
        height = current.$slide.height();

        if ( height * ratio > width ) {
          height = width / ratio;
        } else {
          width = height * ratio;
        }

        video.css({
          width  : width,
          height : height
        }).show();
      }
    }
  });
  //remove black bars from video end
});
</script>
