<!-- team polarpro landing page -->

<div class="grid">
  <div class="grid__item team-polarpro">
    <!-- <h2 class="title text-center">{{ page.title }}</h2>
    {{ page.content }} -->
    <!-- <div class="header">
      <img src="{{ 'pro_team_mark.png' | asset_url }}" class='pro-team-mark'>
      <h1>Team<span>Polarpro</span></h1>
    </div> -->
    <div class="visionaries">
      <div class="wrapper">
        <div class="header">
          <img src="{{ 'Pro_Team_Mark_Gold.png' | asset_url }}" class='pro-team-mark'>
          <h1>Team<span>Polarpro</span></h1>
        </div>
        <h2><span>Visionaries</span></h2>
        <p>The Visionaries are an elite team of award-winning professional cinematographers, selected from a wide variety of diverse backgrounds. From film production to landscape photography each team member directly reflects our mission to inspire others within their own communities to get out and #CapturePerfection.</p>
        <div class="visionaries-list">
          <div class="grid__item c-burkard">
            <h3>Chris<span>Burkard</span></h3>
            <div class='sub-title'>United States</div>
            <a href="/pages/chris-burkard">Learn More</a>
          </div>
          <div class="grid__item p-mckinnon">
            <h3>Peter<span>Mckinnon</span></h3>
            <div class='sub-title'>Canada</div>
            <a href="/pages/peter-mckinnon">Learn More</a>
          </div>
          <div class="grid__item d-mace">
            <h3>Dan<span>Mace</span></h3>
            <div class='sub-title'>South Africa</div>
            <a href="/pages/dan-mace">Learn More</a>
          </div>
          <div class="grid__item t-hagg">
            <h3>Tobias<span>Hägg</span></h3>
            <div class='sub-title'>Sweden</div>
            <a href="/pages/tobias-hagg">Learn More</a>
          </div>
          <div class="profile-coming-soon">
            Visionary profiles coming soon
          </div>
          <!-- <div class="grid__item c-burkard">
            <h3>Chris<span>Burkard</span></h3>
            <div class='sub-title'>Country Origin</div>
            <a href="#">Learn More</a>
          </div>
          <div class="grid__item c-burkard">
            <h3>Chris<span>Burkard</span></h3>
            <div class='sub-title'>Country Origin</div>
            <a href="#">Learn More</a>
          </div> -->
        </div>
      </div>
    </div>
    <div class="collective">
      <div class="wrapper">
        <img src="{{ 'COMING-SOON-LOGO.png' | asset_url }}" class='coming-soon-mark'>
        <h2><span>Collective</span></h2>
        <p>The Team PolarPro Collective represents a key voice in today's world of Digital Creation and have established themselves as industry leaders and are advocates in the purest sense. Through this process we remain deeply humbled to be the top choice of the world's accomplished aerial photographers, videographers, extreme athletes, and explorers alike.</p>
        <!-- <div class="slide-container">
          <div class="multiple-items">
            <div class='item'>
              <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
              <h3>Ryan <span>Locknecker</span></h3>
              <div class="social-links">
                <a href="https://www.instagram.com/ryanlongnecker" class='instagram fa fa-instagram'></a>
                <a href="https://twitter.com/thelongnecker" class='twitter fa fa-twitter'></a>
                <a href="http://ryanlongnecker.com/" class='website fa fa fa-globe'></a>
              </div>
            </div>
            <div class='item'>
              <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
              <h3>Garret <span>King</span></h3>
              <div class="social-links">
                <a href="#" class='instagram fa fa-instagram'></a>
                <a href="#" class='twitter fa fa-twitter'></a>
                <a href="#" class='website fa fa fa-globe'></a>
              </div>
            </div>
            <div class='item'>
              <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
              <h3>Tobi <span>Shinobi</span></h3>
              <div class="social-links">
                <a href="#" class='instagram fa fa-instagram'></a>
                <a href="#" class='twitter fa fa-twitter'></a>
                <a href="#" class='website fa fa fa-globe'></a>
              </div>
            </div>
            <div class='item'>
              <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
              <h3>Matti <span>Haapoja</span></h3>
              <div class="social-links">
                <a href="#" class='instagram fa fa-instagram'></a>
                <a href="#" class='twitter fa fa-twitter'></a>
                <a href="#" class='website fa fa fa-globe'></a>
              </div>
            </div>
            <div class='item'>
              <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
              <h3>Carmen <span>Hutter</span></h3>
              <div class="social-links">
                <a href="#" class='instagram fa fa-instagram'></a>
                <a href="#" class='twitter fa fa-twitter'></a>
                <a href="#" class='website fa fa fa-globe'></a>
              </div>
            </div>
            <div class='item'>
              <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
              <h3>Boyan <span>Ortse</span></h3>
              <div class="social-links">
                <a href="#" class='instagram fa fa-instagram'></a>
                <a href="#" class='twitter fa fa-twitter'></a>
                <a href="#" class='website fa fa fa-globe'></a>
              </div>
            </div>
            <div class='item'>
              <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
              <h3>Ryan <span>Locknecker</span></h3>
              <div class="social-links">
                <a href="#" class='instagram fa fa-instagram'></a>
                <a href="#" class='twitter fa fa-twitter'></a>
                <a href="#" class='website fa fa fa-globe'></a>
              </div>
            </div>
            <div class='item'>
              <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
              <h3>Ryan <span>Locknecker</span></h3>
              <div class="social-links">
                <a href="#" class='instagram fa fa-instagram'></a>
                <a href="#" class='twitter fa fa-twitter'></a>
                <a href="#" class='website fa fa fa-globe'></a>
              </div>
            </div>
            <div class='item'>
              <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
              <h3>Ryan <span>Locknecker</span></h3>
              <div class="social-links">
                <a href="#" class='instagram fa fa-instagram'></a>
                <a href="#" class='twitter fa fa-twitter'></a>
                <a href="#" class='website fa fa fa-globe'></a>
              </div>
            </div>
            <div class='item'>
              <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
              <h3>Ryan <span>Locknecker</span></h3>
              <div class="social-links">
                <a href="#" class='instagram fa fa-instagram'></a>
                <a href="#" class='twitter fa fa-twitter'></a>
                <a href="#" class='website fa fa fa-globe'></a>
              </div>
            </div>
            <div class='item'>
              <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
              <h3>Ryan <span>Locknecker</span></h3>
              <div class="social-links">
                <a href="#" class='instagram fa fa-instagram'></a>
                <a href="#" class='twitter fa fa-twitter'></a>
                <a href="#" class='website fa fa fa-globe'></a>
              </div>
            </div>
            <div class='item'>
              <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
              <h3>Ryan <span>Locknecker</span></h3>
              <div class="social-links">
                <a href="#" class='instagram fa fa-instagram'></a>
                <a href="#" class='twitter fa fa-twitter'></a>
                <a href="#" class='website fa fa fa-globe'></a>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <ul class="filter-option">
            <li><a class="active" href="javaScript:void(0)" data-category="all">ALL</a></li>
            <li><a href="javaScript:void(0)" data-category="a">A</a></li>
            <li><a href="javaScript:void(0)" data-category="b">B</a></li>
            <li><a href="javaScript:void(0)" data-category="c">C</a></li>
            <li><a href="javaScript:void(0)" data-category="d">D</a></li>
            <li><a href="javaScript:void(0)" data-category="e">E</a></li>
            <li><a href="javaScript:void(0)" data-category="f">F</a></li>
            <li><a href="javaScript:void(0)" data-category="g">G</a></li>
            <li><a href="javaScript:void(0)" data-category="h">H</a></li>
            <li><a href="javaScript:void(0)" data-category="i">I</a></li>
            <li><a href="javaScript:void(0)" data-category="j">J</a></li>
            <li><a href="javaScript:void(0)" data-category="k">K</a></li>
            <li><a href="javaScript:void(0)" data-category="l">L</a></li>
            <li><a href="javaScript:void(0)" data-category="m">M</a></li>
            <li><a href="javaScript:void(0)" data-category="n">N</a></li>
            <li><a href="javaScript:void(0)" data-category="o">O</a></li>
            <li><a href="javaScript:void(0)" data-category="p">P</a></li>
            <li><a href="javaScript:void(0)" data-category="q">Q</a></li>
            <li><a href="javaScript:void(0)" data-category="r">R</a></li>
            <li><a href="javaScript:void(0)" data-category="s">S</a></li>
            <li><a href="javaScript:void(0)" data-category="t">T</a></li>
            <li><a href="javaScript:void(0)" data-category="u">U</a></li>
            <li><a href="javaScript:void(0)" data-category="v">V</a></li>
            <li><a href="javaScript:void(0)" data-category="w">W</a></li>
            <li><a href="javaScript:void(0)" data-category="x">X</a></li>
            <li><a href="javaScript:void(0)" data-category="y">Y</a></li>
            <li><a href="javaScript:void(0)" data-category="z">Z</a></li>
        </ul>
        <div class="slider-wrapper">
            <ul class="item-slider">
                <li data-match="a">
                  <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
                  <h3>Ryan <span>Locknecker</span></h3>
                  <div class="social-links">
                    <a href="https://www.instagram.com/ryanlongnecker" class='instagram fa fa-instagram'></a>
                    <a href="https://twitter.com/thelongnecker" class='twitter fa fa-twitter'></a>
                    <a href="http://ryanlongnecker.com/" class='website fa fa fa-globe'></a>
                  </div>
                </li>
                <li data-match="a">
                  <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
                  <h3>Ryan <span>Locknecker</span></h3>
                  <div class="social-links">
                    <a href="https://www.instagram.com/ryanlongnecker" class='instagram fa fa-instagram'></a>
                    <a href="https://twitter.com/thelongnecker" class='twitter fa fa-twitter'></a>
                    <a href="http://ryanlongnecker.com/" class='website fa fa fa-globe'></a>
                  </div>
                </li>
                <li data-match="b">
                  <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
                  <h3>Ryan <span>Locknecker</span></h3>
                  <div class="social-links">
                    <a href="https://www.instagram.com/ryanlongnecker" class='instagram fa fa-instagram'></a>
                    <a href="https://twitter.com/thelongnecker" class='twitter fa fa-twitter'></a>
                    <a href="http://ryanlongnecker.com/" class='website fa fa fa-globe'></a>
                  </div>
                </li>
                <li data-match="c">
                  <img src="{{ 'ryan_longnecker_placeholder.png' | asset_url }}" class='image'>
                  <h3>Ryan <span>Locknecker</span></h3>
                  <div class="social-links">
                    <a href="https://www.instagram.com/ryanlongnecker" class='instagram fa fa-instagram'></a>
                    <a href="https://twitter.com/thelongnecker" class='twitter fa fa-twitter'></a>
                    <a href="http://ryanlongnecker.com/" class='website fa fa fa-globe'></a>
                  </div>
                </li>
                <li data-match="panda">Panda5</li>
                <li data-match="dog">dog1</li>
                <li data-match="dog">dog2</li>
                <li data-match="dog">dog3</li>
                <li data-match="dog">dog4</li>
                <li data-match="dog">dog5</li>
                <li data-match="cat">cat1</li>
                <li data-match="cat">cat2</li>
                <li data-match="cat">cat3</li>
                <li data-match="cat">cat4</li>
                <li data-match="cat">cat5</li>
            </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>
