<!-- meet the team -->
<div class="meet-the-team">
  <div class="team-banner">
    <div class="text">
      <h2><span>TEAM</span></h2>
    </div>
    <!-- <img src="{{ 'team_polarpro.png' | asset_url }}" class='team-banner'> -->
  </div>
  <div class="tag-line">
    <span>We explore, we design, and we shoot, until we</span>
    <h2>CAPTURE PERFECTION.</h2>
    <p>We are a group of adventure-seeking photographers and videographers in search of capturing perfection. We have a passion to explore, a passion to travel, a passion to capture it all. As content creators, we are obsessive over our image quality. As innovators, we develop products fueling that obsession. Our solutions inspire us to get out, and film new landscapes, fly more challenging lines, and shoot in ways we never could before. Every time we venture out, we seek to capture that perfect image. What we have come to realize, is what we thought was perfect today, could always be improved tomorrow.</p>
  </div>
  <!-- /templates/page.liquid -->
  <div class="team">
    <!-- team item start -->
    <div class="team-item">
      <div class="image team_Jeff_O_Profile">

      </div>
      <div class="bio-container texture1">
        <h3 class='name'>Jeff Overall</h3>
        <h4 class='title'>Founder</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Inspire 2 / X7</li>
              <li><span>Favorite Camera</span><br/>Nikon D850</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Backpacked from Yosemite to Reds Meadow (75mi)</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Iceland in the Super Defender</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Jeff_O_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Jeff_O_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Jeff_O_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery'>
                      <img src="{{ 'team_Jeff_O_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Jeff_O_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Jeff_O_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Jeff_O_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery'>
                      <img src="{{ 'team_Jeff_O_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Jeff_O_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Jeff_O_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item alternate">
      <div class="image team_Seroka_Profile">

      </div>
      <div class="bio-container texture2">
        <h3 class='name'>Matthew Seroka</h3>
        <h4 class='title'>Creative Director</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Inspire 2</li>
              <li><span>Favorite Camera</span><br/>Pentax K1</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Iceland</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Solo travel to France and Spain</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Seroka_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Seroka_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Seroka_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery2'>
                      <img src="{{ 'team_Seroka_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Seroka_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Jeff_O_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Seroka_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery2'>
                      <img src="{{ 'team_Seroka_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Seroka_Portfolio_3.jpg' | asset_url }}" data-image="{{ 'team_Seroka_Portfolio_3.jpg' | asset_url }}" data-zoom-image="{{ 'team_Seroka_Portfolio_3.jpg' | asset_url }}" data-fancybox='gallery2'>
                      <img src="{{ 'team_Seroka_Portfolio_3.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Seroka_Portfolio_4.jpg' | asset_url }}" data-image="{{ 'team_Seroka_Portfolio_4.jpg' | asset_url }}" data-zoom-image="{{ 'team_Seroka_Portfolio_4.jpg' | asset_url }}" data-fancybox='gallery2'>
                      <img src="{{ 'team_Seroka_Portfolio_4.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Seroka_Portfolio_5.jpg' | asset_url }}" data-image="{{ 'team_Seroka_Portfolio_5.jpg' | asset_url }}" data-zoom-image="{{ 'team_Seroka_Portfolio_5.jpg' | asset_url }}" data-fancybox='gallery2'>
                      <img src="{{ 'team_Seroka_Portfolio_5.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Seroka_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Seroka_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Seroka_Portfolio_3.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Seroka_Portfolio_4.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Seroka_Portfolio_5.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item">
      <div class="image team_Esteban_Profile">

      </div>
      <div class="bio-container texture3">
        <h3 class='name'>Esteban Martinez</h3>
        <h4 class='title'>Research & Development</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Inspire 2</li>
              <li><span>Favorite Camera</span><br/>Sony A6000</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Eureka Dunes</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Hiking Mt Baldy</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Esteban_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Esteban_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Esteban_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery3'>
                      <img src="{{ 'team_Esteban_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Esteban_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Esteban_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Esteban_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery3'>
                      <img src="{{ 'team_Esteban_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Esteban_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Esteban_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item alternate">
      <div class="image team_Dan_Profile">

      </div>
      <div class="bio-container texture4">
        <h3 class='name'>Dan Morris</h3>
        <h4 class='title'>Director of Operations</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Pro</li>
              <li><span>Favorite Camera</span><br/>iPhone X</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Yosemite</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Cliffs of Moher-Ireland</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Dan_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Dan_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Dan_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery4'>
                      <img src="{{ 'team_Dan_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Dan_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Dan_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Dan_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery4'>
                      <img src="{{ 'team_Dan_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>

                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Dan_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Dan_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>

                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item">
      <div class="image team_Rockwell_Profile">

      </div>
      <div class="bio-container texture5">
        <h3 class='name'>Rockwell Muniz</h3>
        <h4 class='title'>Marketing Manager</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Pro</li>
              <li><span>Favorite Camera</span><br/>Sony A7III</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Hiking the Hills in Kyoto, Japan</li>
              <li><span>Biggest Adventure Accomplished</span><br/>White water rafting the Animas River</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Rockwell_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Rockwell_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Rockwell_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery5'>
                      <img src="{{ 'team_Rockwell_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Rockwell_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Rockwell_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Rockwell_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery5'>
                      <img src="{{ 'team_Rockwell_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Rockwell_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Rockwell_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item alternate">
      <div class="image team_Spirk_Profile">

      </div>
      <div class="bio-container texture6">
        <h3 class='name'>Jeff Spirk</h3>
        <h4 class='title'>General Counsel</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Pro</li>
              <li><span>Favorite Camera</span><br/>Sony A7III</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Half Dome</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Hiking Mt.Whitney in one day</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Spirk_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Spirk_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Spirk_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery6'>
                      <img src="{{ 'team_Spirk_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Spirk_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Spirk_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Spirk_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery6'>
                      <img src="{{ 'team_Spirk_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Spirk_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Spirk_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item">
      <div class="image team_John_Profile">

      </div>
      <div class="bio-container texture2">
        <h3 class='name'>John Kiernan-Lewis</h3>
        <h4 class='title'>Mechanical Design Engineer</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Air</li>
              <li><span>Favorite Camera</span><br/>Nikon D60</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Hiking in Lauterbrunnen Valley, Switzerland</li>
              <li><span>Biggest Adventure Accomplished</span><br/>100 Miles on the Appalachian Trail</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_John_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_John_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_John_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery8'>
                      <img src="{{ 'team_John_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_John_Portfolio_2.png' | asset_url }}" data-image="{{ 'team_John_Portfolio_2.png' | asset_url }}" data-zoom-image="{{ 'team_John_Portfolio_2.png' | asset_url }}" data-fancybox='gallery8'>
                      <img src="{{ 'team_John_Portfolio_2.png' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_John_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_John_Portfolio_2.png' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item alternate">
      <div class="image team_Chad_Profile">

      </div>
      <div class="bio-container texture3">
        <h3 class='name'>Chad Clayton</h3>
        <h4 class='title'>Product Designer / Product Development</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Pro</li>
              <li><span>Favorite Camera</span><br/>Samsung Galaxy S7</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Bridge to Nowhere hike</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Skydiving in San Diego, CA</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Chad_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Chad_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Chad_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery9'>
                      <img src="{{ 'team_Chad_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Chad_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Chad_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Chad_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery9'>
                      <img src="{{ 'team_Chad_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Chad_Portfolio_3.jpg' | asset_url }}" data-image="{{ 'team_Chad_Portfolio_3.jpg' | asset_url }}" data-zoom-image="{{ 'team_Chad_Portfolio_3.jpg' | asset_url }}" data-fancybox='gallery9'>
                      <img src="{{ 'team_Chad_Portfolio_3.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Chad_Portfolio_4.jpg' | asset_url }}" data-image="{{ 'team_Chad_Portfolio_4.jpg' | asset_url }}" data-zoom-image="{{ 'team_Chad_Portfolio_4.jpg' | asset_url }}" data-fancybox='gallery9'>
                      <img src="{{ 'team_Chad_Portfolio_4.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Chad_Portfolio_5.jpg' | asset_url }}" data-image="{{ 'team_Chad_Portfolio_5.jpg' | asset_url }}" data-zoom-image="{{ 'team_Chad_Portfolio_5.jpg' | asset_url }}" data-fancybox='gallery9'>
                      <img src="{{ 'team_Chad_Portfolio_5.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Chad_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Chad_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Chad_Portfolio_3.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Chad_Portfolio_4.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Chad_Portfolio_5.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item">
      <div class="image team_Nicole_Profile">

      </div>
      <div class="bio-container texture4">
        <h3 class='name'>Nicole Schneegas</h3>
        <h4 class='title'>Product Designer / Product Development</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Pro</li>
              <li><span>Favorite Camera</span><br/>FujiFilm X100F & Canon 80D</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Trekking through Japan</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Exploring the Caucasus</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Nicole_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Nicole_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Nicole_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery10'>
                      <img src="{{ 'team_Nicole_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Nicole_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Nicole_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Nicole_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery10'>
                      <img src="{{ 'team_Nicole_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Nicole_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Nicole_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item alternate">
      <div class="image team_Kyle_Profile">

      </div>
      <div class="bio-container texture5">
        <h3 class='name'>Kyle Olinger</h3>
        <h4 class='title'>Mechanical Design Engineer</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Air</li>
              <li><span>Favorite Camera</span><br/>Canon EOS 30D</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Camping at Denali National Park</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Climbing Mount Dickerman</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Kyle_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Kyle_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Kyle_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery11'>
                      <img src="{{ 'team_Kyle_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Kyle_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Kyle_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Kyle_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery11'>
                      <img src="{{ 'team_Kyle_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Kyle_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Kyle_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item">
      <div class="image team_Tyler_Profile">

      </div>
      <div class="bio-container texture6">
        <h3 class='name'>Tyler Wilson</h3>
        <h4 class='title'>Mechanical Design Engineer</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Air</li>
              <li><span>Favorite Camera</span><br/>Sony A6000</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Mammoth Mountain</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Road Tripping from Oklahoma to the Redwoood National Park</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Tyler_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Tyler_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Tyler_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery12'>
                      <img src="{{ 'team_Tyler_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Tyler_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Tyler_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Tyler_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery12'>
                      <img src="{{ 'team_Tyler_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Tyler_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Tyler_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item alternate">
      <div class="image team_Migz_Profile">

      </div>
      <div class="bio-container texture1">
        <h3 class='name'>Migz Berenguel</h3>
        <h4 class='title'>Photographer / Videographer</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Phantom 4 Pro</li>
              <li><span>Favorite Camera</span><br/>Canon 5D MKIV</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Camping in Death Valley for Quartzline Shoot</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Solo surf trip to Costa Rica</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Migz_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Migz_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Migz_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery13'>
                      <img src="{{ 'team_Migz_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Migz_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Migz_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Migz_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery13'>
                      <img src="{{ 'team_Migz_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Migz_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Migz_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item">
      <div class="image team_Martino_Profile">

      </div>
      <div class="bio-container texture2">
        <h3 class='name'>Martino Harly</h3>
        <h4 class='title'>Web Developer</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Pro</li>
              <li><span>Favorite Camera</span><br/>Pixel 2 XL</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Snowmobiling in Oregon</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Explore Germany during Oktoberfest</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Martino_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Martino_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Martino_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery14'>
                      <img src="{{ 'team_Martino_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Martino_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Martino_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Martino_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery14'>
                      <img src="{{ 'team_Martino_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Martino_Portfolio_3.jpg' | asset_url }}" data-image="{{ 'team_Martino_Portfolio_3.jpg' | asset_url }}" data-zoom-image="{{ 'team_Martino_Portfolio_3.jpg' | asset_url }}" data-fancybox='gallery14'>
                      <img src="{{ 'team_Martino_Portfolio_3.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>

                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Martino_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Martino_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Martino_Portfolio_3.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item alternate">
      <div class="image team_Paul_Profile">

      </div>
      <div class="bio-container texture3">
        <h3 class='name'>Paul Maloney</h3>
        <h4 class='title'>Digital Marketing Manager</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Pro</li>
              <li><span>Favorite Camera</span><br/>Sony A7III</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Big Sur, Monterey, California</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Backpacking 40 days through Europe</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Paul_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Paul_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Paul_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery15'>
                      <img src="{{ 'team_Paul_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Paul_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Paul_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Paul_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery15'>
                      <img src="{{ 'team_Paul_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Paul_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Paul_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item">
      <div class="image team_Oliver_Profile">

      </div>
      <div class="bio-container texture4">
        <h3 class='name'>Oliver Draper</h3>
        <h4 class='title'>Customer Support</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Pro</li>
              <li><span>Favorite Camera</span><br/>Sony A7III</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Yellowstone and Grand Teton National Parks</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Backpacking trip that ended in a climb to the top of Half Dome in Yosemite National Park</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Oliver_Portfolio_1.png' | asset_url }}" data-image="{{ 'team_Oliver_Portfolio_1.png' | asset_url }}" data-zoom-image="{{ 'team_Oliver_Portfolio_1.png' | asset_url }}" data-fancybox='gallery16'>
                      <img src="{{ 'team_Oliver_Portfolio_1.png' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Oliver_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Oliver_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Oliver_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery16'>
                      <img src="{{ 'team_Oliver_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Oliver_Portfolio_1.png' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Oliver_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item alternate">
      <div class="image team_Ryan_Profile">

      </div>
      <div class="bio-container texture5">
        <h3 class='name'>Ryan Beck</h3>
        <h4 class='title'>Graphic Designer</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Pro</li>
              <li><span>Favorite Camera</span><br/>Sony A6000</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Exploring Rocky Mountain National Park</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Making it up to Mammoth/June Mountain during March Miracle for some epic powder days</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Ryan_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Ryan_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Ryan_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery17'>
                      <img src="{{ 'team_Ryan_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Ryan_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Ryan_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Ryan_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery17'>
                      <img src="{{ 'team_Ryan_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Ryan_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Ryan_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item">
      <div class="image team_Alyssa_Profile">

      </div>
      <div class="bio-container texture6">
        <h3 class='name'>Alyssa Morgan</h3>
        <h4 class='title'>Inventory Planner</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Air</li>
              <li><span>Favorite Camera</span><br/>N/A</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Backpacking through Europe</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Hiking through the snow to the weir hot springs in Idaho</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Alyssa_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Alyssa_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Alyssa_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery18'>
                      <img src="{{ 'team_Alyssa_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Alyssa_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Alyssa_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Alyssa_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery18'>
                      <img src="{{ 'team_Alyssa_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Alyssa_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Alyssa_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item alternate">
      <div class="image team_Esty_Profile">

      </div>
      <div class="bio-container texture1">
        <h3 class='name'>Esty Muniz</h3>
        <h4 class='title'></h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Pro</li>
              <li><span>Favorite Camera</span><br/>Sony A6500</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Going white water rafting in the Deschutes River in OR</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Driving all the way up the coast of California through Oregon to Washington and visiting Multnomah Falls when I was 15</li>
            </ul>
          </div>
          <div class="portfolio">

            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Esty_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Esty_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Esty_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery19'>
                      <img src="{{ 'team_Esty_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Esty_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Esty_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Esty_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery19'>
                      <img src="{{ 'team_Esty_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Esty_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Esty_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item">
      <div class="image team_Anthony_Profile">

      </div>
      <div class="bio-container texture2">
        <h3 class='name'>Antony Pai</h3>
        <h4 class='title'>Packaging Designer</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Air</li>
              <li><span>Favorite Camera</span><br/>Sony A7II</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Whitewater rafting & camping at Kern River</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Diving with sharks</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Anthony_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Anthony_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Anthony_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery20'>
                      <img src="{{ 'team_Anthony_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Anthony_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Anthony_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Anthony_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery20'>
                      <img src="{{ 'team_Anthony_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Anthony_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Anthony_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item alternate">
      <div class="image team_Cori_Profile">

      </div>
      <div class="bio-container texture3">
        <h3 class='name'>Cori Patelski</h3>
        <h4 class='title'>PHOTOGRAPHER</h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Drone</span><br/>Mavic Air</li>
              <li><span>Favorite Camera</span><br/>Canon 5D Mark IV</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Hike to Duck Lake, Mammoth</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Backpacking Havasupai</li>
            </ul>
          </div>
          <div class="portfolio">

          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item">
      <div class="image team_Leo_Profile">

      </div>
      <div class="bio-container texture4">
        <h3 class='name'>Leo</h3>
        <h4 class='title'></h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Toy</span><br/>Orange Floaty</li>
              <li><span>Favorite Food</span><br/>Carrots</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Chasing rabbits through Mosquito Flats</li>
              <li><span>Biggest Adventure Accomplished</span><br/>Carrying dads camera gear 2.1 miles to Robinson Lake</li>
            </ul>
          </div>
          <div class="portfolio">

          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
    <!-- team item start -->
    <div class="team-item alternate">
      <div class="image team_Mya_Profile">

      </div>
      <div class="bio-container texture5">
        <h3 class='name'>Maya</h3>
        <h4 class='title'></h4>
        <div class="bio">
          <div class="section-1">
            <ul>
              <li><span>Favorite Toy</span><br/>Frisbee</li>
              <li><span>Favorite Food</span><br/>Chilled raw chicken wings</li>
            </ul>
          </div>
          <div class="section-2">
            <ul>
              <li><span>Favorite Adventure</span><br/>Sierra lake hikes</li>
              <li><span>Biggest Adventure Accomplished</span><br/>N/A</li>
            </ul>
          </div>
          <div class="portfolio">
            <!-- portfolio slides -->
            <div class="grid__item large--one-full text-center product-single__wrapper">
                <div class="product-single__photos">
                  <div>
                    <a href="{{ 'team_Maya_Portfolio_1.jpg' | asset_url }}" data-image="{{ 'team_Maya_Portfolio_1.jpg' | asset_url }}" data-zoom-image="{{ 'team_Maya_Portfolio_1.jpg' | asset_url }}" data-fancybox='gallery23'>
                      <img src="{{ 'team_Maya_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                  <div>
                    <a href="{{ 'team_Maya_Portfolio_2.jpg' | asset_url }}" data-image="{{ 'team_Maya_Portfolio_2.jpg' | asset_url }}" data-zoom-image="{{ 'team_Maya_Portfolio_2.jpg' | asset_url }}" data-fancybox='gallery23'>
                      <img src="{{ 'team_Maya_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                </div><!--product-single__photos-->
                <div class="thumbs">
                  <div class="image-item">
                      <img src="{{ 'team_Maya_Portfolio_1.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                  <div class="image-item">
                      <img src="{{ 'team_Maya_Portfolio_2.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            </div>
            <!-- portfolio slides end -->
          </div>
        </div>
      </div>
    </div>
    <!-- team item end -->
  </div>



  <!-- <div class="rte">
    {{ page.content }}
  </div> -->
</div>



<script type="text/javascript">

$(window).load(function() {
  var numSlick = 0;
  $('.product-single__photos').each( function() {
    numSlick++;
    $(this).addClass( 'product-single__photos-' + numSlick ).slick({
      adaptiveHeight: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: true,
      asNavFor: '.thumbs-' + numSlick
    });
  });

  numSlick = 0;
  $('.thumbs').each( function() {
    numSlick++;
    $(this).addClass( 'thumbs-' + numSlick ).slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      asNavFor: '.product-single__photos-' + numSlick,
      dots: false,
      centerMode: false,
      arrows: false,
      focusOnSelect: true
    });
  });

  $('[data-fancybox="gallery"]').fancybox({
      loop: true,
      thumbs : {
          autoStart : true
      },
      hash : true,
      buttons: [
        //"zoom",
        //"share",
        "slideShow",
        "fullScreen",
        //"download",
        "thumbs",
        "close"
      ],
  })
});
</script>
